<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ripp3r.k3y.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ripp3r.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ripp3r.k3y.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="InstallationId" serializeAs="String">
                <value/>
            </setting>
            <setting name="GameTDBLastUpdate" serializeAs="String">
                <value/>
            </setting>
        </Ripp3r.k3y.Properties.Settings>
        <Ripp3r.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="InstallationId" serializeAs="String">
                <value/>
            </setting>
        </Ripp3r.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
